.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-img {
  height: 100%;
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
