.header-container {
  color: #ff6060;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  justify-content: space-between;
}

.header-logo {
  object-fit: contain;
}

.header-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.header-nav-active {
  text-decoration: underline;
}
