.gallery-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.gallery-item {
  border-radius: 10px;
  object-fit: cover;
  height: 20vw;
  width: 25vw;
  margin: 3vh;
}

.gallery-item-title {
  font-size: 1rem;
  text-align: left;
  width: 50%;
  position: relative;
  top: -25%;
  left: 10%;
  color: #ff6060;
}

@media (max-width: 992px) {
  .gallery-item {
    height: 90vw;
    width: 90vw;
  }
}
