.carousel-container {
  height: 53vh;
  margin: 4vh 2vw 0 2vw;
}

.carousel-image {
  border-radius: 15px;
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.left-arrow {
  cursor: pointer;
  position: relative;
  left: 3vw;
  top: -28vh;
  width: 3vh;
}

.right-arrow {
  cursor: pointer;
  position: relative;
  left: 82vw;
  top: -28vh;
  width: 3vh;
}

.left-arrow-hidden {
  opacity: 0;
  position: relative;
  left: 3vw;
  top: -28vh;
  width: 3vh;
}

.right-arrow-hidden {
  opacity: 0;
  position: relative;
  left: 82vw;
  top: -28vh;
  width: 3vh;
}

.counter-container {
  color: var(--secondaryColor);
  position: relative;
  left: 35vw;
  top: -10vh;
}

/* Media queries for large screens */

@media screen and (min-width: 992px) {
  .carousel-container {
    margin: 2vh 4vw 0 4vw;
  }

  .left-arrow {
    left: 2vw;
    top: -31vh;
    width: 5vh;
  }
  
  .left-arrow-hidden {
    opacity: 0;
    left: 2vw;
    top: -31vh;
    width: 5vh;
  }

  .right-arrow {
    left: 82vw;
    top: -31vh;
    width: 5vh;
  }
  
  .right-arrow-hidden {
    opacity: 0;
    left: 82vw;
    top: -31vh;
    width: 5vh;
  }

  .counter-container {
    left: 38vw;
    top: -14vh;
  }
}
