:root {
  --secondaryColor: #ffffff;
  --footerBackgroundColor: #000000;
}

.footer-container {
  background-color: var(--footerBackgroundColor);
  margin-top: 5vh;
  padding: 5vw;
  text-align: center;
}

.footer-text {
  color: var(--secondaryColor);
  font-size: 1rem;
  font-weight: 100;
  padding-top: 1vw;
}

/* Media queries for large screens */

@media screen and (min-width: 992px) {
  .footer-container {
    padding: 2vh;
  }
}
