.dropdownSmall-container {
  border-radius: 10px;
  margin: 3vh 2vw;
}

.dropdowndropdownSmall-header-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  border-radius: 5px;
  color: var(--secondaryColor);
  padding: 2vw;
}

.dropdowndropdownSmall-header {
  font-size: 1.25rem;
  font-weight: 100;
}

.dropdown-arrow-down {
  object-fit: contain;
}

.dropdownSmall-text-container {
  color: var(--primaryColor);
  background-color: var(--mainBackgroundColor);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
}

/* Media queries for large screens */

@media screen and (min-width: 992px) {
  .dropdownSmall-container {
    margin: 0;
    width: 40vw;
  }

  .dropdowndropdownSmall-header-container {
    padding: 1vw;
  }
}
