.dropdownSmall-container {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border-radius: 10px;
  margin: 3vh 2vw;
}

.dropdowndropdownSmall-header-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  border-radius: 5px;
  color: var(--secondaryColor);
  padding: 2vw;
}

.dropdowndropdownSmall-header {
  font-size: 1.25rem;
  font-weight: 100;
}

.dropdown-arrow-down {
  object-fit: contain;
}

.dropdownSmall-text-container {
  color: var(--primaryColor);
  background-color: var(--mainBackgroundColor);
}
